<!DOCTYPE html>
<html>
<head>
	<title>SOCKET.IO</title>
	<!-- <script type="text/javascript">
		var userInfo = localStorage.getItem('user_details');
		if(!userInfo) {
			window.location = "http://localhost:3000";
		} else {
			userInfo = JSON.parse(userInfo);
		}
	</script> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="../../socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="../../stylesheet/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
</head>
<body>