<%- include('./partials/header'); -%>

	<div style="margin: 10px 10px 0px 10px;">
		<div class="row">
			<div class="col-sm-3 contact-container">
				<h3>Group Name</h3>
				<div class="input-group mb-3">
				  	<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name...">
				  	<button class="btn btn-primary" type="button">Create
				  	</button>
				</div>
				<h4>Select Contact.</h4>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-2-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-2-outlined">Sasi</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-3-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-3-outlined">Sakthivel.D</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-4-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-4-outlined">Kowshe</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-5-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-5-outlined">Madhu</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-6-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-6-outlined">78949739304</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-7-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-7-outlined">Satheesh</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-2-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-2-outlined">Sasi</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-3-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-3-outlined">Sakthivel.D</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-4-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-4-outlined">Kowshe</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-5-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-5-outlined">Madhu</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-6-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-6-outlined">78949739304</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-7-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-7-outlined">Satheesh</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-2-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-2-outlined">Sasi</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-3-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-3-outlined">Sakthivel.D</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-4-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-4-outlined">Kowshe</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-5-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-5-outlined">Madhu</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-6-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-6-outlined">78949739304</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-7-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-7-outlined">Satheesh</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-2-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-2-outlined">Sasi</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-3-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-3-outlined">Sakthivel.D</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-4-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-4-outlined">Kowshe</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-5-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-5-outlined">Madhu</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-6-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-6-outlined">78949739304</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-7-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-7-outlined">Satheesh</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-2-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-2-outlined">Sasi</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-3-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-3-outlined">Sakthivel.D</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-4-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-4-outlined">Kowshe</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-5-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-5-outlined">Madhu</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-6-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-6-outlined">78949739304</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-7-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-7-outlined">Satheesh</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-2-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-2-outlined">Sasi</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-3-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-3-outlined">Sakthivel.D</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-4-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-4-outlined">Kowshe</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-5-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-5-outlined">Madhu</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-6-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-6-outlined">78949739304</label>
					<hr class="separator" />
				</div>
				<div>
					<input type="checkbox" class="btn-check" id="btn-check-7-outlined" autocomplete="off">
					<label class="btn btn-outline-secondary" for="btn-check-7-outlined">Satheesh</label>
					<hr class="separator" />
				</div>
			</div>
			<div class="col-sm-9">
				
			</div>
		</div>
	</div>

	<script src="../javascript/script.js"></script>
	
<%- include('./partials/footer'); -%>